h3 {
    text-align: center;
    border-bottom: 3px solid white;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.instance-container {
    position: relative;
    text-align: right;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0px;
    white-space: nowrap;
    left:-20%;
}

.trend-container {
  position: relative;
  text-align: right;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0px;
  white-space: nowrap;
  left:-20%;
}

.container {
  width: 50%;
  margin: 0 auto;
}

input[type="text"] {
    padding: 5px;
    margin: 5px 20px;
    width: 200px;
}

label {
    white-space: nowrap;
}

button {
  margin: 10 auto;

}
